* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #2e3338;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 0px;
    background-color: #2e3338;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: lighter;
    font-size: 36px;
    color: #2e3338;
    margin: 0;
    background-color: #9ae5e5;
    padding: 0 0 0 50px;
}

header h1 a {
    color: #2e3338;
}

header a {
    text-decoration: none;
    color: #9ae5e5;
}

header nav {
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    text-decoration: underline;
}

section {
    padding: 60px;
}

/* Hero Style Start */
.hero {
    background-image: url("../images/pexels-david-bartus-963278.jpg");
    height: 250px;
    position: relative;
}

.hero-subtitle {
    background-color: #9ae5e5;
    padding: 20px;
    width: 150px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    right: 100px;
}
/* Hero Style End */

.section-title {
    font-size: 55px; 
    margin-bottom: 35px;
    padding: 0 5px 0 0;
    border-right: 3px solid;
    display: inline-block;
    width: 175px;
}

.primary-border {
    width: 250px;
}

.intro p {
    line-height: 1.7;
    width: 80%;
    margin: 0 auto;
    float: right;
}

.entries {

}

.entries div {
    margin-bottom: 80px;
}

.entries img {
    width: 80%;
    margin: 10px 0;
    float: right;
    border: 5px solid #9ae5e5;;
    position: relative;
    top: -125px;
}

.entries h3 {
    font-size: 46px;
    margin-top: 10px;
}

.entries h4 {
    font-size: 23px;
}

.work-entry {
    background-color: #9ae5e5;
    position: absolute;
    margin: 300px 215px 0 197px;
}

.work-entry a,
.work-entry-two a, 
.work-entry-three a,
.work-entry-four a,
.work-entry-five a {
    text-decoration: none;
    padding: 0;
}

.img2 {
    width: 40%;
    margin: 0 -20px 0 115px;
    display: inline-block;
}

.work-entry-two {
    background-color: #9ae5e5;
    position: absolute;
    margin: -10px 0 100px 80px;
}

.work-entry-four {
    background-color: #9ae5e5;
    position: absolute;
    margin: 0 50px 0 80px;
    padding: 0;
}

.img3 {
    width: 40%;
    margin: -500px 0 -50px 575px;
}

.work-entry-three {
    background-color: #9ae5e5;
    position: absolute;
    margin: 180px 0 0 80px;
}

.img4 {
    width: 40%;
    margin: 415px 0 0 115px;
    object-fit: none;
}

.img5 {
    width: 40%;
    margin: 0;
    display: inline-block;
    float: right;
    margin: -235px 0 100px 0;
    background-size: 100% auto;
    height: auto;
    top: -50px;

}

.work-entry-five {
    background-color: #9ae5e5;
    position: absolute;
    margin: 10px 0 0 80px;
}

.contact-info a {
    color: #2e3338;
    font-style: normal;
}

address {
    float: right;
    display: flex;
}

#contact-me {
    display: flex;
}

.section-title-contact {
    font-size: 55px; 
    margin-bottom: 35px;
    padding: 0 40px 10px 0;
    border-right: 3px solid;
    display: inline-block;
    width: 210px;
}

section div address {
    display: flex;
    padding-top: 15px;
}

section div address a {
    margin: 0 30px;
}

/* CONTACT STYLES END */

#resume {
    display: flex;
}

section div a {
    display: flex;
    padding: 25px;
    color: #2e3338;
}