* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #2e3338;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 0px;
    background-color: #2e3338;
}

header h1 {
    font-weight: lighter;
    font-size: 36px;
    color: #2e3338;
    margin: 0;
    display: inline;
    background-color: #9ae5e5;
    padding: 0 0 0 50px;
}

header h1 a {
    color: #2e3338;
}

header a {
    text-decoration: none;
    color: #9ae5e5;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    text-decoration: underline;
}

section {
    padding: 60px;
}

/* Hero Style Start */
.hero {
    background-image: url("../images/pexels-david-bartus-963278.jpg");
    height: 250px;
    position: relative;
}

.hero-subtitle {
    background-color: #9ae5e5;
    padding: 20px;
    width: 150px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    right: 100px;
}
/* Hero Style End */